html{
    background-color:black;
    color:white;
}

.clock{
    font-size:600%;
    text-align:center;
}

.weather{
    font-size:200%;
    text-align:center;
}

.traffic{
    font-size:200%;
    text-align:center;
}

.countdown{
    font-size:200%;
    text-align:center;
}